<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ww1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>customer.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration1</display-name>
    <servlet-name>Registration1</servlet-name>
    <servlet-class>customer.Registration1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration1</servlet-name>
    <url-pattern>/Registration1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostJobServlet</servlet-name>
    <servlet-class>customer.PostJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostJobServlet</servlet-name>
    <url-pattern>/PostJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServicesServlet</servlet-name>
    <servlet-class>customer.ServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicesServlet</servlet-name>
    <url-pattern>/ServicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobListServlet</display-name>
    <servlet-name>JobListServlet</servlet-name>
    <servlet-class>customer.JobListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobListServlet</servlet-name>
    <url-pattern>/JobListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorRegistrationServlet</display-name>
    <servlet-name>VendorRegistrationServlet</servlet-name>
    <servlet-class>vendor.VendorRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorRegistrationServlet</servlet-name>
    <url-pattern>/VendorRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorLoginServlet</display-name>
    <servlet-name>VendorLoginServlet</servlet-name>
    <servlet-class>vendor.VendorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorLoginServlet</servlet-name>
    <url-pattern>/VendorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorJobListServlet</display-name>
    <servlet-name>VendorJobListServlet</servlet-name>
    <servlet-class>vendor.VendorJobListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorJobListServlet</servlet-name>
    <url-pattern>/VendorJobListServlet</url-pattern>
  </servlet-mapping>
</web-app>